<main role="main" class="container">
  <div class="row">
    <div class="col py-4">
      <h1>ブログをスクレイピング</h1>
    </div>
  </div>
  <!-- TODDO バリデーション方法調査できたら実装する -->
  <!--
  <div class="row">
    <div class="col py-4">
      <%= render partial: "layouts/flash" %>
    </div>
  </div>
  -->
  <%= form_tag('/show', method: 'post') do %>
    <div class="form-group">
      <%= text_area_tag :urls, nil, class: 'form-control form-control-lg', rows: 10, placeholder: 'URLを入力してください。' %>
    </div>
    <div class="form-group">
      <%= submit_tag 'Blog読み込み', class: 'btn btn-primary' %>
    </div>
  <% end %>
</main>
