<main role="main" class="container">
  <div class="row">
    <div class="col py-4">
      <h1>スクレイピング結果</h1>
    </div>
  </div>
  <div class="row">
    <div class="col py-4">
    <%= link_to :back do %>
      <button class="btn btn-primary">戻る</button>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col border border-primary"><pre><%=@blog_content%></pre></div>
  </div>
</main>