<div role="main" class="container">
  <div class="row">
    <div class="col py-4">
      <h1><%= I18n.t('exception.title_404') %></h1>
      <p><%= I18n.t('exception.sentence_404') %></p>      
    </div>
  </div>
  <div class="row">
    <div class="col py-4">
      <%= link_to :back do %>
        <button class="btn btn-primary">戻る</button>
      <% end %>
    </div>
  </div>    
</div>


