<% if request.referer.present? && flash.present? %>
  <div class="alert alert-danger" role="alert">
    <% flash.each do |key, value| %>
      <%= content_tag :p, value, class: "alert alert-#{key}}" %>
    <% end %>    
  </div>
<% end %>
